@viewport{
	width: extend-to-zoom;
	zoom: 1.0;
}

@-ms-viewport{
	width: extend-to-zoom;
	zoom: 1.0;
}

* {
	margin: 0px;
	padding: 0px;

	z-index: 10;
}

h1 {
	font-size: 32px;
	font-weight: normal;
}

h2 {
	font-size: 24px;
	font-weight: normal;
}

h3 {
	font-size: 20px;
	font-weight: normal;
}

h4 {
	font-size: 16px;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0f75bc;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
}

#content {
	width: 800px;
	/*height: 670px;*/

	margin: 20px auto;

	color: #333333;
}

#content-header {
	width: 738px;
	height: 64px;

	padding: 12px 30px;

	border: 1px solid #A7A7A7;

	background-color: #EFEFEF;
}

#grit-logo {
	float: left;
}

#grit-heading {
	position: relative;
	top: 10px;
	left: 32px;

	float: left;

	display: none;
}

#grit-icon {
	float: right;
}

#content-body-wrapper {
	position: relative;
}

.overlay {
	width: 778px;
	/*height: 100%;*/
	height:auto;

	/*margin-top: 2px;*/

	padding: 10px;
	padding-bottom: 20px;

	border: 1px solid #F7F7F7;

	position: absolute;

	top: 0;
    bottom: 0;

	background-color: #F7F7F7;
	color: #000000;

	opacity: 0.8;

	display: none;
}

#overlay-loading {
	display: block;
}

.overlay h2 {
	margin: 160px auto;
	text-align: center;
}

#content-body {
	width: 778px;
	/*height: 574px;*/

	margin-top: 2px;

	padding: 10px;

	border: 1px solid #A7A7A7;
}

#content-body > nav {
	height: 48px;

	margin-bottom: 10px;

	display: block;
}

#breadcrumb {
	height: 32px;

	margin: 8px;

	float:left;
}

#content-body > nav a {
	height: 32px;
	margin: 8px;

	float: right;
}

#content-body > div {
	display: none;
}


/*
 * course-list
 */

#course-list .course {
	width: 119px;
	height: 150px;
	margin: 18px;

	float:left;
}

#course-new-button {
	width: 119px;
	height: 150px;
	margin: 18px;
	float: left;
}

#course-list .course .course_text {
	margin: 0;
	text-align: center;
}

#course-list {
	overflow: hidden;
}

#course-list .course-buttons {
	position: absolute;
	height: 0px;
}

#course-list .edit, #course-list .delete {
	position: relative;
	top: 22px;
	left: 62px;
	float: left;
}
#course-list .course-buttons img {
	width: 24px;
	height: 24px;
}

/*
 * course-show
 */

#course-show > div {
	display: none;
}

#course-show-courseName {
	margin-bottom: 10px;
}

#exercise-list table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

#exercise-list th, #exercise-list td {
	padding:10px;
}

#exercise-list th {
	text-align:left;
}

#exercise-list table td a {
	margin: 4px;
	float:left;
}

#exercise-show table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

#exercise-show th, #exercise-show td {
	padding:10px;
}

#exercise-show th {
	text-align:left;
}



#connection-list table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

#connection-list th, #connection-list td {
	padding:10px;
}

#connection-list th {
	text-align:left;
}

.input-table td{
	padding:20px;
	font-size:18px;
}

.knopf{
	height: 30px;
	margin: 30px 0px;

	background: #333333;
	border:1px solid #333333; /*required or the default border for the browser will appear*/

	/*style the text*/
	font-size:1.5em;
	/*font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
	color: #fff;
	/*give the corners a small curve*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	cursor: pointer;
}

.input-field{
	width: 250px;

	padding: 4px;
}

#connection-new, #exercise-new, #course-new{
	margin-left:30px;
}

.xdsoft_disabled{
	display: none;
} 

.icon-button:hover {
	opacity: 0.7;
}

#xml-config {
	border-bottom: 1px solid #000000;
	padding-bottom: 20px;
	margin-bottom: 30px;
}


/* Dieses Tooltip-Design wurde von Chris Bracco entwickelt, weshalb sämtlicher Credit an ihn geht.(source: http://cbracco.me/a-simple-css-tooltip/ )
   Ich musste den Code nur ein bisschen anpassen, da sonst einige Fehler im Zusammenhang mit dem Grit UI aufgetreten sind(Verschiebung der Tolltip-Boxen und Grit UI Elementen,
   Fehlerhafte Darstellung des Tooltips,...). */'

a:hover {
  text-decoration: none;
}

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}



/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
